body 
{
    background-image: url(../images/fondo.jpg);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h1 
{
    background-color: #b5b8c0;
    color: white;
    width: 80%;
    max-width: 800px;
    padding: 15px 0;
    border-left: 10px solid #e74c3c;
    font-size: 40px;
    margin-bottom: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

img 
{
    width: 80%;
    max-width: 800px;
    border: 5px solid #333;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

ul 
{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    gap: 0;
}

li 
{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    border: 1px solid#7a7a7a;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

